<?xml version="1.0"?>
<launch>
  <node name="tubular_toolpath_creator" pkg="tubular_toolpath_creator" type="tubular_toolpath_node.py" output="screen">
    <rosparam ns="tubular_toolpath_creator">
        rotation_begin: 10
        rotation_end: 90
        rotation_step: 20
    </rosparam>
  </node>
</launch>