<?xml version="1.0"?>
<launch>
  <node name="tubular_toolpath_creator" pkg="tubular_toolpath_creator" type="tubular_toolpath_node.py" output="screen">
    <rosparam >
      rotation_begin: 30
      rotation_end: 160
      rotation_step: 20
      z_clip_height: 0.1
      voxel_down_sample_size: 0.005
      centerline_target_reduction: 0.93 
      toolpath_segment_point_reduction: 0.01
      smoothing_mesh_factor: 5000.0
      pose_spacing: 0.01
      frame_id: tsdf_origin
      debug: True
    </rosparam>
  </node>
</launch>